<template>
  <div>
    <el-row class="button-row">
      <el-button type="primary" @click="addAccount">Adicionar</el-button>
    </el-row>
    <el-row>
      <el-table :data="accounts" empty-text="Nenhuma conta cadastrada.">
        <el-table-column prop="enabled" label="Habilitada">
          <template slot-scope="scope">
            <el-checkbox @change="toggleAccount(scope.$index)" :checked="scope.row.enabled"></el-checkbox>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="Nome"></el-table-column>
        <el-table-column prop="company.name" label="Seguradora"></el-table-column>
        <el-table-column prop="username" label="Login"></el-table-column>
        <el-table-column label="Ações">
          <template slot-scope="scope">
            <el-popover ref="deletePopover" v-model="deletePopovers[scope.row.id]">
              <p>Tem certeza?</p>
              <el-button size="mini" @click="deleteAccount(scope.row.id)" type="danger">Sim</el-button>
              <el-button size="mini" @click="deletePopovers[scope.row.id] = false">Cancelar</el-button>
            </el-popover>
            <el-button type="text" @click="editAccount(scope.$index)">Editar</el-button>
            <el-button type="text" v-popover:deletePopover>Excluir</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-row>
    <el-dialog :title="editing ? 'Editar conta' : 'Adicionar conta'" :visible.sync="addAccountFormVisible" @close="resetForm">
      <el-form ref="accountForm" :model="accountForm" label-width="120px" @keyup.enter.native="submitAccountForm(editing)">
        <el-form-item :error="error"></el-form-item>
        <el-form-item v-if="editing" label="Habilitada">
          <el-checkbox name="enabled" v-model="accountForm.enabled"></el-checkbox>
        </el-form-item>
        <el-form-item label="Seguradora">
          <el-select name="companyID" v-model="accountForm.companyID" placeholder="Selecione" @change="companyChanged">
            <el-option v-for="company in companies" :key="company.id" :label="company.name" :value="company.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Nome">
          <el-input v-model="accountForm.name"></el-input>
        </el-form-item>
        <el-form-item label="Usuário">
          <el-input v-model="accountForm.username"></el-input>
        </el-form-item>
        <el-form-item label="Senha">
          <el-input type="password" v-model="accountForm.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitAccountForm(editing)">Enviar</el-button>
          <el-button @click="resetForm">Cancelar</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      error: '',
      accounts: [],
      editing: false,
      companies: [
        {
          id: 0,
          name: 'Selecione'
        }
      ],
      accountForm: {
        name: '',
        companyID: 0,
        username: '',
        password: ''
      },
      addAccountFormVisible: false,
      deletePopovers: {}
    }
  },
  created () {
    this.fetchCompanies()
    this.fetchAccounts()
  },
  methods: {
    fetchCompanies () {
      this.$http.get('/api/companies').then(r => r.json().then(j => { this.companies = [...this.companies, ...j] }))
    },
    fetchAccounts () {
      this.$http.get('/api/accounts').then(r => r.json().then(j => { this.accounts = j }))
    },
    addAccount () {
      this.editing = false
      this.addAccountFormVisible = true
    },
    resetForm () {
      this.addAccountFormVisible = false
      this.error = ''
      this.accountForm = {
        id: 0,
        companyID: 0,
        name: '',
        enabled: false,
        username: '',
        password: ''
      }
    },
    submitAccountForm (edit) {
      const url = edit ? '/api/accounts/edit' : '/api/accounts'
      this.$http.post(url, this.accountForm).then(
        () => {
          this.resetForm()
          this.fetchAccounts()
        }
      ).catch(
        e => {
          e.json().then(
            j => { this.error = j.message }
          )
        }
      )
    },
    companyChanged (id) {
      if (id === 0) {
        this.accountForm.name = ''
        return
      }
      for (var company of this.companies) {
        if (company.id === id) {
          this.accountForm.name = company.name
        }
      }
    },
    deleteAccount (id) {
      this.$http.delete('/api/accounts/' + id).then(
        () => {
          this.deletePopovers[id] = false
          this.fetchAccounts()
        }
      )
    },
    updateAccount (index) {
      this.accountForm = this.accounts[index]
      this.submitAccountForm(true)
    },
    toggleAccount (index) {
      this.accounts[index].enabled = !this.accounts[index].enabled
      this.updateAccount(index)
    },
    editAccount (index) {
      this.editing = true
      this.accountForm = this.accounts[index]
      this.addAccountFormVisible = true
    }
  }
}
</script>

<style scoped>
.button-row{
  margin: 0.5em auto 0.5em;
}
</style>

