<template>
  <el-dialog :visible="visible"
    title="Trocar senha"
    @close="close">
    <el-form :model="form" label-width="120px" @keyup.enter.native="changePassword">
      <el-form-item :error="error"></el-form-item>
      <el-form-item label="Nova senha">
        <el-input type="password" v-model="form.password"></el-input>
      </el-form-item>
      <el-form-item label="Confirmação">
        <el-input type="password" v-model="form.confirmation"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="changePassword" type="primary">Confirmar</el-button>
        <el-button @click="close">Cancelar</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
export default {
  props: {
    visible: {
      default: false,
      type: Boolean
    }
  },
  methods: {
    close () {
      this.form = {
        password: '',
        confirmation: ''
      }
      this.error = ''
      this.$emit('close')
    },
    changePassword () {
      this.$http.post('/api/newpassword', this.form).then(
        () => {
          this.close()
          this.$notify({
            title: 'Senha alterada com sucesso',
            type: 'success'
          })
        }
      )
        .catch(e => {
          e.json().then(j => { this.error = j.message })
        }).catch(e => { console.error(e) })
    }
  },
  data () {
    return {
      form: {
        password: '',
        confirmation: ''
      },
      error: ''
    }
  }
}
</script>
