<template>
  <el-container>
    <el-main>
      <el-row>
        <el-col :span="8" :offset="8" align="center">
          <h1>RenovaFácil</h1>
          <el-form :model="credentials" @keyup.enter.native="submit">
            <el-form-item :error="error"></el-form-item>
            <el-form-item>
              <el-input v-model="credentials.username" placeholder="Usuário"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input type="password" v-model="credentials.password" placeholder="Senha"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submit">Entrar</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>
import {login} from '../auth'

export default {
  data () {
    return {
      credentials: {
        username: '',
        password: ''
      },
      error: ''
    }
  },
  methods: {
    submit () {
      var credentials = {
        username: this.credentials.username,
        password: this.credentials.password
      }
      login(this, credentials, '/renovacoes')
    }
  }
}
</script>
