<template>
  <div>
    <el-menu :default-active="$route.path" mode="horizontal" :router="true">
      <el-menu-item index="/renovacoes">Apólices a renovar</el-menu-item>
      <el-menu-item index="/historico">Histórico de renovações</el-menu-item>
      <el-menu-item index="/contas">Contas</el-menu-item>
      <li class="el-menu-item topButton">
        <el-button @click="logout()">Sair</el-button>
      </li>
      <li class="el-menu-item topButton">
        <el-button @click="changePasswordVisible = true">Trocar senha</el-button>
      </li>
      <li v-show="$route.path === '/renovacoes'" class="el-menu-item topButton">
        <el-button @click="triggerUpdate()">Buscar apólices</el-button>
      </li>
    </el-menu>
    <change-password :visible="changePasswordVisible" 
      @close="changePasswordVisible = false"></change-password>
  </div>
</template>

<script>
import {logout} from '../auth'
import ChangePassword from './ChangePassword.vue'
export default {
  methods: {
    triggerUpdate () {
      this.$http.get('/api/update')
    },
    logout () {
      logout()
    }
  },
  components: {
    ChangePassword
  },
  data () {
    return {
      changePasswordVisible: false
    }
  }
}
</script>

<style scoped>
.topButton {
  float: right; 
}
</style>
