<template>
  <div>
    <el-row>
      <el-table :data="policies" max-height="800" empty-text="Nenhuma apólice a renovar.">
        <el-table-column prop="customer" label="Segurado" :formatter="uppercase"></el-table-column>
        <el-table-column prop="account" label="Conta"/></el-table-column>
        <el-table-column prop="number" label="Apólice"></el-table-column>
        <el-table-column prop="insuranceType" label="Ramo"></el-table-column>
        <el-table-column prop="description" label="Descrição"></el-table-column>
        <el-table-column prop="periodEnd" label="Fim da vigência" :formatter="formatDate"></el-table-column>
        <el-table-column prop="phoneNumber" label="Telefone"></el-table-column>
        <el-table-column label="Renovou">
            <template slot-scope="scope">
                <div>
                  <el-button type="text" size="small" :disabled="isProcessing(scope.row.id)" @click="renewWithSameAccount(scope.$index, scope.row)">Mesma</el-button>
                  <el-button type="text" size="small" :disabled="isProcessing(scope.row.id)" @click="showRenewalDialog(scope.$index, scope.row)">Outra</el-button>
                  <el-button type="text" size="small" :disabled="isProcessing(scope.row.id)" @click="logNonRenewal(scope.$index, scope.row)">Não</el-button>
                </div>
            </template>
        </el-table-column>
      </el-table>
    </el-row>
    <el-row class="footer">
      <el-pagination
                      :pageCount="pageCount"
                      layout="prev, pager, next"
                      v-on:current-change="changePage">
      </el-pagination>
    </el-row>
    <el-dialog title="Renovar com outra conta" :visible.sync="renewalDialogVisible">
      <el-form :model="renewalForm">
        <el-form-item label="Conta">
          <el-select name="accountID" v-model="renewalForm.accountID" placeholder="Selecione">
            <el-option v-for="account in accounts" :key="account.id" :label="account.name" :value="account.id"/>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="renewalDialogVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="submitRenewal">Confirmar</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data: function () {
    return {
      policies: [],
      pageNumber: 1,
      pageCount: 0,
      resultsPerPage: 10,
      processing: [],
      processed: [],
      renewalDialogVisible: false,
      renewalForm: {
        index: 0,
        policyID: 0,
        accountID: 0
      },
      accounts: [
        {
          id: 0,
          name: 'Sem conta'
        }
      ]
    }
  },
  created: function () {
    this.fetchAccounts()
    this.fetchData(this.pageNumber)
  },
  methods: {
    fetchData: function (pageNumber) {
      this.$http.get('/api/renewals/' + pageNumber + '?resultsPerPage=' + this.resultsPerPage)
        .then(response => {
          return response.json()
        }).then(json => {
          this.pageCount = json.pageCount
          this.policies = json.results
        })
    },
    fetchAccounts: function () {
      this.$http.get('/api/accounts').then(response => response.json().then(json => { this.accounts = json }))
    },
    changePage: function (p) {
      this.fetchData(p)
    },
    formatDate: function (row, col, value) {
      moment.locale('pt-br')
      return moment(value).format('L')
    },
    uppercase: function (row, col, value) {
      return value.toUpperCase()
    },
    logRenewal (index, id, accountID, isRenewal) {
      var p = this.policies[index]
      this.processing.push(id)
      this.$http.post('/api/renew',
        {
          policyID: id,
          newAccountID: accountID,
          renewed: isRenewal
        }
      )
        .then(function () {
          this.processed.push(id)
          this.policies.splice(index, 1)
          this.$notify({
            title: 'Renovação de ' + p.customer + ' registrada.',
            type: 'success',
            duration: 3000
          })
          this.fetchData(this.pageNumber)
        },
          response => response.json()
          .then(json => this.$notify({
            type: 'error',
            message: 'Erro ao registrar renovação: ' + json.message
          })))
        .finally(function () {
          var p = this.processing
          p.splice(p.indexOf(id), 1)
          this.renewalDialogVisible = false
        })
    },
    renewWithSameAccount (index, row) {
      this.logRenewal(index, row.id, row.accountID, true)
    },
    showRenewalDialog (index, row) {
      this.renewalForm.index = index
      this.renewalForm.policyID = row.id
      this.renewalForm.accountID = row.accountID
      this.renewalDialogVisible = true
    },
    logNonRenewal (index, row) {
      this.logRenewal(index, row.id, row.accountID, false)
    },
    undoRenewal (id) {
      this.processing.push(id)
      this.$http.delete('/api/renewals/' + id)
        .then(function () {
          this.processed.splice(this.processed.indexOf(id), 1)
        })
        .finally(function () {
          this.processing.splice(this.processing.indexOf(id), 1)
        })
    },
    isProcessing (id) {
      return this.processing.includes(id)
    },
    isProcessed (id) {
      return this.processed.includes(id)
    },
    submitRenewal () {
      var f = this.renewalForm
      this.logRenewal(f.index, f.policyID, f.accountID, true)
    }
  }
}
</script>

<style scoped>

.footer {
  position: fixed;
  bottom: 0;
}

</style>
