<template>
  <div>
    <el-row>
      <el-table :data="policies" max-height="800" empty-text="Nenhuma apólice renovada.">
        <el-table-column prop="customer" label="Segurado" :formatter="uppercase"></el-table-column>
        <el-table-column prop="oldAccount" label="Conta anterior"/></el-table-column>
        <el-table-column prop="number" label="Apólice"></el-table-column>
        <el-table-column prop="insuranceType" label="Ramo"></el-table-column>
        <el-table-column prop="description" label="Descrição"></el-table-column>
        <el-table-column prop="periodEnd" label="Fim da vigência" :formatter="formatDate"></el-table-column>
        <el-table-column prop="newAccount" label="Nova conta" :formatter="formatNewAccount"></el-table-column>
        <el-table-column prop="renewedOn" label="Renovada em" :formatter="formatDate"></el-table-column>
        <el-table-column label="Desfazer">
          <template slot-scope="scope">
            <el-button type="danger" :disabled="isProcessing(scope.row.id)" icon="el-icon-delete" @click="confirmUndo(scope.$index)">
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-row>
    <el-row class="footer">
      <el-pagination
            :pageCount="pageCount"
            layout="prev, pager, next"
            v-on:current-change="changePage">
      </el-pagination>
    </el-row>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data: function () {
    return {
      policies: [],
      pageNumber: 1,
      pageCount: 0,
      resultsPerPage: 10,
      processing: [],
      processed: [],
      renewalDialogVisible: false
    }
  },
  created: function () {
    this.fetchData(this.pageNumber)
  },
  methods: {
    fetchData: function (pageNumber) {
      this.$http.get('/api/renewals/history/' + pageNumber + '?resultsPerPage=' + this.resultsPerPage)
        .then(response => {
          return response.json()
        }).then(json => {
          this.pageCount = json.pageCount
          this.policies = json.results
        })
    },
    changePage: function (p) {
      this.fetchData(p)
    },
    formatDate: function (row, col, value) {
      moment.locale('pt-br')
      return moment(value).format('L')
    },
    formatNewAccount: function (row, col, value) {
      if (value != null) {
        return value
      }
      return '(Não renovou)'
    },
    uppercase: function (row, col, value) {
      return value.toUpperCase()
    },
    isProcessing (id) {
      return this.processing.includes(id)
    },
    isProcessed (id) {
      return this.processed.includes(id)
    },
    getDisplayStyle (id, operation) {
      if (this.isProcessed(id)) {
        return operation === 'undo' ? 'display: block;' : 'display: none;'
      }
      return operation === 'operations' ? 'display: block;' : 'display: none;'
    },
    confirmUndo (index) {
      var p = this.policies[index]
      this.undoRenewal(index, p.id)
    },
    undoRenewal (index, id) {
      this.processing.push(id)
      this.$http.delete('/api/renewals/' + id)
        .then(function () {
          var p = this.policies[index]
          this.processed.splice(this.processed.indexOf(id), 1)
          this.policies.splice(index, 1)
          this.$notify({
            title: 'Registro de renovação de ' + p.customer + ' desfeito.',
            type: 'success',
            duration: 3000
          })
          this.fetchData(this.pageNumber)
        })
        .finally(function () {
          this.processing.splice(this.processing.indexOf(id), 1)
        })
    }
  }
}
</script>

<style scoped>

div.cell {
  word-break: normal;
}

.footer {
  position: fixed;
  bottom: 0;
}

.topButton {
  float: right;
  transform: translateY(50%);
}

</style>
