<template>
  <div id="app">
    <nav-bar v-if="isLoggedIn()"></nav-bar>
    <router-view></router-view>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar'
import {isLoggedIn} from './auth'

export default {
  name: 'app',
  components: {
    NavBar
  },
  methods: {
    isLoggedIn () {
      return isLoggedIn()
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.el-table .cell {
  word-break: normal;
}

</style>
